@model WorkInfo

    <a asp-controller="Business" asp-action="WorkInfo" asp-route-Id="@Model.Id" asp-route-ServiceObjectId="@Model.ServiceObjectId">

        @Model.ServiceObjectTitle <small>(id: @Model.ServiceObjectId)</small> : № @Model.Id

</a>