@model ServiceObjectCell

@if (Model.Id > 0)
{
    <a asp-controller="Business" asp-action="SOInfo" asp-route-id="@Model.Id">

        @if (!String.IsNullOrWhiteSpace(Model.ObjectTitle))
        {
            @Model.ObjectTitle
            @if (!String.IsNullOrWhiteSpace(Model.ObjectCode))
            {
                <small>(Код: @Model.ObjectCode)</small>
            }
            else
            {
                <small>(ID: @Model.Id)</small>
            }
        }
        else
        {
            <span class="text-danger me-2">ID: @Model.Id</span>
        }

    </a>
}
else
{
    <span class="text-danger me-2">ID: @Math.Abs(@Model.Id) - удален</span>
}
