@model WorkStepInfo
@{ 
    bool IsAdmin = ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SuperAdmin");
}

<div class="card border border-primary">
    <div class="card-body">
        <div class="row g-0 d-flex justify-content-start">

            <div class="col-3 col-md-3 pb-2">
                <small>Шаг: </small>
                <br />
                @Model.Index
            </div>
            <div class="col-6 col-md-3 pb-2">
                <small>Сотрудник: </small>
                <br />
                @Html.Partial("_cellUser", new ApplicationUser { Id = "0", UserName = Model.UserName, Email = Model.UserEmail })
            </div>
            @if (IsAdmin)
            {
                <div class="col-3 col-md-3 pb-2">
                    <a class="btn btn-outline-secondary btn-sm edit" title="Редактировать" asp-action="WorkStepEdit" asp-route-Id="@Model.Id" asp-route-WorkId="@Model.WorkId" asp-route-ServiceObjectId="@Model.ServiceObjectId">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
            }
            <hr />
            <div class="col-3 col-md-3 pb-2">
                <small>Дата и время начала: </small>
                <br />
                @Model.DT_Start
            </div>
            <div class="col-3 col-md-3 pb-2">
                <small>Дата и время окончания: </small>
                <br />
                @Model.DT_Stop
            </div>
            @if (Model.Id > 0)
            {
                <div class="col-10 col-md-3 pb-2">
                    <small>Статус: </small>
                    <br />
                    @Model.StatusRus()
                </div>
            }
        </div>

        <!--Файлы-->
        @if (Model.FileLinks.Count > 0)
        {
            <hr />
            <div class="col-12 pt-2">

                <small class="mb-2">Файлы:</small>
                <br />
                <div class="d-flex flex-wrap">
                    @Html.Partial("_FilesH", @Model.FileLinks)
                </div>
            </div>
        }
        <!---->
    </div>
</div>


