@model List<AlertInfo>

@{
    int FilterSO = Convert.ToInt32(ViewData["ServiceObjectId"]); // выборка по объекту обслуживания
    bool IsAdmin = ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SuperAdmin");
}

<!-- получение локального времени -->
<script src="~/assets/dm/localtime.js"></script>

<!-- Карточка-->
<div class="card">
    <!-- Добавить -->
    @if (IsAdmin && FilterSO > 0)
    {
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="text-secondary">Список уведомлений</h4>
        <a class="btn btn-primary btn btn-block" title="Добавить" asp-action="AlertEdit" asp-route-Id="0" asp-route-ServiceObjectId="@FilterSO" asp-route-pageInfo="false"><i class="fas fa-plus"></i> Добавить новое уведомление</a>
    </div>
    }
    <!-- Таблица -->
    <div class="card-body">
        <table id="datatable" class="table table-striped mb-0 table-bordered" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
            <thead class="bg-danger text-white">
                <tr>
                    @if (FilterSO == 0)
                    {
                        <th>ID</th>
                    }
                    <th>Дата и время</th>
                    @if (FilterSO == 0)
                    {
                        <th>Объект</th>
                    }
                    <th>Статус</th>
                    <th>Сотрудник</th>
                    <th>Файлы</th>
                    <th>Подробнее</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x => x.DT))
                {
                    <tr>
                        @if (FilterSO == 0)
                        {
                            <th scope="row">@item.Id</th>
                        }

                        <td>
                            <script>document.write(UTC_To_LocalTime('@item.DT'));</script>
                        </td>

                        @if (FilterSO == 0)
                        {
                            <td>
                                @Html.Partial("_cellSObject", new ServiceObject { Id = item.ServiceObjectId, ObjectTitle = item.ServiceObjectTitle, ObjectCode = null })
                            </td>
                        }
                        <td>@item.StatusRus()</td>
                        <td>
                            @Html.Partial("_cellUser", new ApplicationUser { Id = "0", UserName = item.UserName, Email = item.UserEmail })
                        </td>
                        <td>@Html.Partial("_FilesV", item.FileLinks)</td>
                        <td>
                            <div class="row px-1">
                                <a class="col btn btn-outline-primary btn-sm edit" title="Просмотр" asp-action="AlertInfo" asp-route-Id="@item.Id" asp-route-ServiceObjectId="@FilterSO" asp-route-pageInfo="@ViewData["pageInfo"]">
                                    <i class="far fa-eye"></i>
                                </a>
                                @if (IsAdmin)
                                {
                                    <a class="col btn btn-outline-secondary btn-sm edit" title="Редактировать" asp-action="AlertEdit" asp-route-Id="@item.Id" asp-route-ServiceObjectId="@FilterSO" asp-route-pageInfo="@ViewData["pageInfo"]">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>

                                    <a class="col btn btn-outline-danger btn-sm edit" title="Удалить" data-bs-toggle="modal" data-bs-target="#myModalDel" onclick="SetWindow(@item.Id, '@item.ServiceObjectTitle')">
                                        <i class="fas fa-trash-alt px-1"></i>
                                    </a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

<!-- sample modal [ myModalDel ] content -->
@Html.Partial("popup_AlertDel")
<!-- /.modal -->
