
@{
    ViewData["Title"] = "Главная";
    string FormatValue = "{0:##0.#}";

    int usersCount = ViewBag.usersCount; // всего пользователей
    string userCompany = ViewBag.userCompany; // компания пользователя
    int usersInCompanyCount = ViewBag.usersInCompanyCount; // количество пользователей в этой компании

    string NowDT = ViewBag.NowDT; // текущий месяц
    string PrevDT = ViewBag.PrevDT; // прошлый месяц
    string Prev2DT = ViewBag.Prev2DT; // позапрошлый месяц

    int SOCount = ViewBag.SOCount; // количество объектов
    int alertActiveSOCount = ViewBag.alertActiveSOCount; // количество объектов с активными уведомлениями

    int nowSOinWorkCount = ViewBag.nowSOinWorkCount; // объекты в обслуживании текущего месяца
    int prevSOinWorkCount = ViewBag.prevSOinWorkCount; // объекты в обслуживании прошлого месяца

    int nowSOinWorkReadyCount = ViewBag.nowSOinWorkReadyCount; // объекты с завершенным обслуживанием текущего месяца
    int prevSOinWorkReadyCount = ViewBag.prevSOinWorkReadyCount; // объекты с завершенным обслуживанием прошлого месяца
    int prev2SOinWorkReadyCount = ViewBag.prev2SOinWorkReadyCount; // объекты с завершенным обслуживанием позапрошлого месяца
    int MaxSOinWorkReadyCount = Math.Max(Math.Max(nowSOinWorkReadyCount, prevSOinWorkReadyCount), prev2SOinWorkReadyCount);

    int nowSOprocess = nowSOinWorkCount - nowSOinWorkReadyCount; // в процессе обслуживания
    int nowSOnot = SOCount - nowSOinWorkCount; // нет обслуживания

    int nowWorksCount = ViewBag.nowWorksCount; // количество работ текущего месяца
    int prevWorksCount = ViewBag.prevWorksCount; // количество работ прошлого месяца
    int nowWorksReady = ViewBag.nowWorksReady; // завершенные работы текущего месяца
    int prevWorksReady = ViewBag.prevWorksReady; // завершенные работы прошлого месяца

    int nowAlertsCount = ViewBag.nowAlertsCount; // всего уведомлений
    int nowAlertsClosedCount = ViewBag.nowAlertsClosedCount; // закрытых уведомлений
    int nowAlertsNewCount = ViewBag.nowAlertsNewCount; // новых уведомлений
    int nowAlertsSeeCount = ViewBag.nowAlertsSeeCount; // просмотренных уведомлений
}

@section CSS_first {
    <!-- diagram -->
    <style>
        section {
            width: 100%;
            max-width: 30rem;
            padding: 1.5rem 1.5rem 2rem;
            border: 1px solid #a7a8aa;
            border-radius: 0.1rem;
            margin: auto;
        }

        ul.hchart {
            display: grid;
            grid-template-columns: auto;
            gap: .5em 0;
            /*align-items: center;*/
            margin: 0 auto;
            padding: 0;
            list-style-type: none;
            grid-auto-columns: 1fr;
            height: 100px;
        }

            ul.hchart li {
                color: white;
                background: #ffd100;
                /*display: inline;*/
                display: flex;
                align-items: center;
                justify-content: end; /*space-between;*/
                padding: 0.25rem 0.5rem;
                margin: 0.1rem;
                border-radius: 0.2rem;
            }

                ul.hchart li span {
                    font-weight: bold;
                    display: inline;
                }

        ul.legend {
            list-style: none;
        }

            ul.legend li {
                padding: 0.1rem;
            }
    </style>
    <style>
        .vchart {
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 200px;
            margin: 0 auto;
            background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
            background-size: 100% 50px;
            background-position: left top;
        }

            .vchart li {
                position: relative;
                display: table-cell;
                vertical-align: bottom;
                height: 200px;
            }

            .vchart span {
                margin: 0 1em;
                display: block;
                background: #d1ecfa;
                border-radius: 0.2rem;
                animation: draw 1s ease-in-out;
            }

                .vchart span:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 100%;
                    display: block;
                    text-align: center;
                    content: attr(title);
                    word-wrap: break-word;
                }

        ul.hr {
            margin: 0; /* Обнуляем значение отступов */
            padding: 2px; /* Значение полей */
        }

            ul.hr li {
                display: inline; /* Отображать как строчный элемент */
                margin-right: 3px; /* Отступ слева */
                padding: 2px; /* Поля вокруг текста */
            }
    </style>
    <style>
        .row-flex {
            display: flex;
            flex-flow: row wrap;
        }
    </style>
}


<!-- Circles -->


<div class="row row-flex">
    @if (SOCount > 0)
    {
        <!-- объекты с активными уведомлениями -->
        <div class="col-xl-3 col-sm-6">
            @Html.Partial("_CardCircle", new { color = "crimson", percent = string.Format(FormatValue, alertActiveSOCount * 100 / SOCount), title = "Объекты с активными уведомлениями", value = $"{alertActiveSOCount} из {SOCount}", alpha = "", description = "" })
        </div>
        <!-- объекты в работе -->
        <div class="col-xl-3 col-sm-6">
            @Html.Partial("_CardCircle", new { color = "lightseagreen", percent = string.Format(FormatValue, nowSOinWorkCount * 100 / SOCount), title = "Объекты в обслуживании", value = $"{nowSOinWorkCount} из {SOCount}", alpha = (nowSOinWorkCount - prevSOinWorkCount), description = NowDT })
        </div>
    }

    @if (nowWorksCount > 0)
    {
        <!-- Выполненные обслуживания -->
        <div class="col-xl-3 col-sm-6">
            @Html.Partial("_CardCircle", new { color = "lightseagreen", percent = string.Format(FormatValue, nowWorksReady * 100 / nowWorksCount), title = "Выполненные обслуживания", value = $"{nowWorksReady} из {nowWorksCount}", alpha = (nowWorksReady - prevWorksReady), description = NowDT })
        </div>
    }
    else
    {
        <div class="col-xl-3 col-sm-6">
            @Html.Partial("_CardCircle", new { color = "lightseagreen", percent = 0, title = "Выполненные обслуживания", value = $"{nowWorksReady} из {nowWorksCount}", alpha = (nowWorksReady - prevWorksReady), description = NowDT })
        </div>
    }
    <!-- icon -->
    <div class="col-xl-3 col-sm-6">
        @Html.Partial("_CardCircle", new { icon = "ri-group-line", title = "Пользователи системы", titlenext = "МойЗавод", value = usersInCompanyCount })  
    </div>

</div>

    
    <div class="row">
        
    </div>


@Html.Partial("_DiagramCircle")

<!-- Bars -->
<div class="row">
    @if (SOCount > 0)
    {
        <div class="col-xl-6 col-sm-12">
            @Html.Partial("_CardBars", new { title = $"Объекты обслуживания за текущий месяц [{NowDT}]", bars = new Object[] { new { text = "Обслужено", icon = "ri-checkbox-circle-line", value = nowSOinWorkReadyCount, percent = nowSOinWorkReadyCount * 100 / SOCount, color = "lightseagreen" }, new { text = "В процессе обслуживания", icon = "ri-calendar-2-line", value = nowSOprocess, percent = nowSOprocess * 100 / SOCount, color = "CornflowerBlue" }, new { text = "Нет обслуживания", icon = "ri-close-circle-line", value = nowSOnot, percent = nowSOnot * 100 / SOCount, color = "lightsalmon" } } })
        </div>
    }
    @if (MaxSOinWorkReadyCount > 0)
    {
        <div class="col-xl-6 col-sm-12">
            @Html.Partial("_CardVChart", new { title = "Обслуженно объектов по месяцам", bars = new Object[] { new { text = Prev2DT, value = prev2SOinWorkReadyCount, percent = prev2SOinWorkReadyCount * 100 / MaxSOinWorkReadyCount, color = "mediumaquamarine" }, new { text = PrevDT, value = prevSOinWorkReadyCount, percent = prevSOinWorkReadyCount * 100 / MaxSOinWorkReadyCount, color = "lightseagreen" }, new { text = NowDT, value = nowSOinWorkReadyCount, percent = nowSOinWorkReadyCount * 100 / MaxSOinWorkReadyCount, color = "teal" } } })
        </div>
    }
    </div>

<div class="row">
    <div class="col-xl-12 col-sm-12">
        @Html.Partial("_CardHChart", new { title = $"Уведомления", bars = new Object[] { new { text = "Новые", value = nowAlertsNewCount, color = "lightsalmon" }, new { text = "Просмотрено", value = nowAlertsSeeCount, color = "CornflowerBlue" }, new { text = "Закрыто", value = nowAlertsClosedCount, color = "lightseagreen" },  new { text = "Всего", value = nowAlertsCount, color = "lightslategray" } } })
    </div>
</div>



@section Scripts {

    <script>
        // не используется
        $(function () {
            var equal_height = 0;
            $(".rowh div").each(function () {
                if ($(this).height() > equal_height) { equal_height = $(this).height(); }
            });
            $(".rowh div").height(equal_height);
        });
    </script>
}