@model AlertInfo
@using System.Text.RegularExpressions;
@{
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Уведомление ID {Model.Id}";
    }
    else
    {
        ViewData["Title"] = $"{Model.ServiceObjectTitle}: Новое уведомление";
    }

    //List<myFiles> MF = ViewBag.Files;

    List<SelectListItem> listStatus = new List<SelectListItem>();
    listStatus.Add(new SelectListItem { Value = "0", Text = "новое" });
    listStatus.Add(new SelectListItem { Value = "5", Text = "просмотрено" });
    listStatus.Add(new SelectListItem { Value = "9", Text = "исправлено" });
    listStatus.Add(new SelectListItem { Value = "10", Text = "редактирование" });
    listStatus.Add(new SelectListItem { Value = "99", Text = "изменено" });
    var X = listStatus.FirstOrDefault(x => x.Value == Model.Status.ToString());
    if (X != null)
        X.Selected = true;
}




<div class="row">
    <div class="col-12">
        <!-- data -->
        <div class="card">
            <form id="myform" method="post" enctype="multipart/form-data">
                <h5 class="card-header bg-soft-light">Свойства</h5>
                <div class="card-body">
                    <input type="number" name="Id" class="form-control d-none" value="@Model.Id" readonly />
                    <input type="number" name="SOReturn" class="form-control d-none" value="@ViewData["ServiceObjectId"]" readonly />
                    <input type="number" name="ServiceObjectId" class="form-control d-none" value="@Model.ServiceObjectId" readonly />
                    <div class="row g-0 d-flex justify-content-start">
                        <div class="col-3 pb-2">
                            <small>Дата и время: </small>
                            <br />
                            @Model.DT
                        </div>
                        <div class="col-10 col-md-3 pb-2">
                            <small>Объект: </small>
                            <br />
                            @Html.Partial("_cellSObject", new ServiceObject { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                        </div>
                        <div class="col-10 col-md-3 pb-2">
                            <small>Сотрудник: </small>
                            <br />
                            @Html.Partial("_cellUser", new ApplicationUser { Id = "0", UserName = Model.UserName, Email = Model.UserEmail })
                        </div>
                        @if (Model.Id > 0)
                        {
                            <div class="col-10 col-md-3 pb-2">
                                <small>Статус: </small>
                                <br />
                                @Model.StatusRus()
                            </div>
                        }
                    </div>
                    @if (Model.Id > 0)
                    {
                        @*<div class="col-12">
                                <small>Сообщение: </small>
                                <br />
                                @if (@Model.Message == "")
                                {
                                    <span> - </span>
                                }
                                else
                                {
                                    @Model.Message
                                }
                            </div>*@
                    }
                    <hr />
                    <div class="col-12 pt-2">
                        <small>Новый статус:</small>
                        <select class="form-select" name="Status" value="0" asp-items="listStatus"></select>
                    </div>
                    <div class="col-12 pt-2 d-none">
                        <small>Новое сообщение:</small>
                        <br />
                        <textarea form="myform" name="Message" rows="5" class="form-control">@Model.Message</textarea>
                    </div>
                    <br />
                    @if (Model.Id != 0)
                    {
                        <!--Файлы-->
                        <small>Файлы:</small>
                        @Html.Partial("_FilesControl", new FileFront { category = "alert", categoryId = @Model.Id })
                        <!--------->
                    }
                    else
                    {
                        <small>Для получения возможности добавления файлов - сохраните новое уведомление</small>
                    }
                    <!---->
                </div>
                <div class="card-footer bg-soft-light">
                    <div class="row g-0 d-flex justify-content-start">
                        @if (Model.Id != 0)
                        {
                            <!-- удалить -->
                            <button type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-danger btn btn-block" data-bs-toggle="modal" data-bs-target="#myModalDel"><i class="fas fa-trash-alt px-1"></i> Удалить</button>
                        }
                        <!-- сохранить -->
                        <button type="submit" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block"><i class="fas fa-save px-1"></i> Сохранить</button>
                        <!-- отмена -->
                        <a asp-action="AlertsList" asp-route-ServiceObjectId="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block"> Отмена</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- sample modal content -->
<div id="myModalDel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="" asp-controller="Business" asp-action="AlertDelete" method="post">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="myModalLabel">Удалить уведомление ID @Model.Id</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" name="id" value="@Model.Id" style="display: none" readonly />
                    <input type="number" name="ServiceObjectId" class="form-control d-none" value="@ViewData["ServiceObjectId"]" readonly />
                    <p>После этого действия вы не сможете востановить уведомление</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Удалить</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    <!-- files -->
    <script src="~/assets/dm/fileControl.js"></script>

    <script type="text/javascript">
    </script>

}
