@model AlertInfo
@using System.Text.RegularExpressions;
@{
    int FilterSO = Convert.ToInt32(ViewData["ServiceObjectId"]); // выборка по обслуживанию
    bool IsAdmin = ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SuperAdmin");
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Уведомление ID {Model.Id}";
    }
    else
    {
        ViewData["Title"] = $"Объект ID {Model.ServiceObjectId} {Model.ServiceObjectTitle}: Новое уведомление";
    }

    //List<myFiles> MF = ViewBag.Files;

}

<!-- получение локального времени -->
<script src="~/assets/dm/localtime.js"></script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row g-0 d-flex justify-content-start">
                    <div class="col-3 pb-2">
                        <small>Дата и время: </small>
                        <br />
                        <script>document.write(UTC_To_LocalTime('@Model.DT'));</script>
                    </div>
                    <div class="col-10 col-md-3 pb-2">
                        <small>Объект: </small>
                        <br />
                        @Html.Partial("_cellSObject", new ServiceObjectCell { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                    </div>
                    <div class="col-10 col-md-3 pb-2">
                        <small>Сотрудник: </small>
                        <br />
                        @Html.Partial("_cellUser", new UserCell { Id = "0", UserName = Model.UserName, Email = Model.UserEmail })
                    </div>
                    <div class="col-10 col-md-3 pb-2">
                        <small>Статус: </small>
                        <br />
                        @Model.StatusRus()
                    </div>
                </div>
                
                <hr />

                <!--Файлы-->
                <div class="col-12 pt-2">
                    @if (Model.FileLinks.Count > 0)
                    {
                        <small class="mb-2">Файлы:</small>
                        <br />
                        <div class="d-flex flex-wrap">
                            @Html.Partial("_FilesH", @Model.FileLinks)
                        </div>
                    }
                </div>
                <!---->
            </div>
            <div class="card-footer">
                <div class="row g-0 d-flex justify-content-start">
                    <!-- редактировать -->
                    @if (IsAdmin)
                    {
                        <a asp-action="AlertEdit" asp-route-Id="@Model.Id" asp-route-ServiceObjectId="@FilterSO" asp-route-pageInfo="@ViewData["pageInfo"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block">Редактировать</a>
                    }
                    <!-- закрыть -->
                    @if (Convert.ToBoolean(ViewData["pageInfo"]))
                    {
                        <a asp-action="SOInfo" asp-route-id="@FilterSO" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block">Закрыть <small>(в объект)</small></a>
                    }
                    else
                    {
                        <a asp-action="AlertsList" asp-route-ServiceObjectId="@FilterSO" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block">Закрыть <small>(в список)</small></a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/assets/dm/base.js"></script>

    <script type="text/javascript">
    </script>
}




