@model List<ServiceObjectShort>
@using System.Text.RegularExpressions;
@{
    ViewData["Title"] = "Объекты обслуживания";
    bool IsAdmin = ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SuperAdmin");
}

@section CSS_first {
    <!-- DataTables -->
    <!--<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    <!-- Responsive datatable examples -->
    <!--<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />-->
    @Html.Partial("_DTable_CSS_first")
}


<style>
    .block:target {
        display: block;
    }

    .block {
        display: none;
    }
</style>

<!-- Карточка -->
<div class="card">
    <!-- Добавить -->
    @if (IsAdmin)
    {
        <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
            <a class="btn btn-secondary btn btn-block" title="Структура" asp-action="Levels_Tree"><i class="mdi mdi-graph-outline fa-lg"></i> Перейти в структуру</a>
            <a class="btn btn-light btn btn-block" title="Добавить" asp-action="SOEdit" asp-route-id="0"><i class="fas fa-plus"></i> Добавить новый объект</a>
        </div>
    }
    <!-- Таблица -->
<div class="card-body">
    <div id="upp" class="d-flex justify-content-between"></div>
    <table id="dtable" class="table table-striped mb-0" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead class="bg-primary text-white">
            <tr>
                <!--<th>ID</th>-->
                <th>Название</th>
                @*<th>Описание</th>*@
                <th>Код</th>
                <th>Уведомления</th>
                <th>Позиция</th>
                <th>Последнее обслуживание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*<a title="Обзор" asp-action="SOInfo" asp-route-id="@item.Id">
                                @item.ObjectTitle
                            </a>*@
                        @item.ObjectTitle
                    </td>
                    @*<td style="max-width:300px; word-break: break-all">
                            @if (item.Description != null && item.Description.Length > 50)
                            {
                                <small>
                                    @if (item.Description.Length > 200)
                                    {
                                        @item.Description.Substring(0, 197)
                                        <span>...</span>
                                    }
                                    else
                                    {
                                        @item.Description
                                    }

                                </small>
                            }
                            else
                            {
                                @item.Description
                            }
                        </td>*@
                    <td>@item.ObjectCode</td>
                    <td>
                        @if (@item.CountAlerts > 0)
                        {
                            <span class="badge bg-danger">@item.CountAlerts</span>
                        }
                    </td>
                    <td>
                        @{
                            if (item.Position != null)
                            {
                                foreach (var pos in item.Position.Split(">"))
                                {
                                    if (pos == item.Position.Split(">").Last())
                                    {
                                        <span class="badge bg-primary">@pos</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-light">@pos</span>
                                    }
                                }
                            }
                        }
                    </td>
                    <td>
                        @if (item.LastWork != null)
                        {
                            @Html.Partial("_cellWork", new WorkInfo { Id = item.LastWork.Id, ServiceObjectId = item.Id, ServiceObjectTitle = item.ObjectTitle })
                        }
                    </td>
                    @if (@ViewContext.HttpContext.User.IsInRole("Admin") || @ViewContext.HttpContext.User.IsInRole("SuperAdmin"))
                    {
                        <td>
                            <div class="px-1">
                                <a class="btn btn-outline-light btn-sm edit" title="Просмотр" asp-action="SOInfo" asp-route-id="@item.Id">
                                    <i class="far fa-eye"></i>
                                </a>
                                @if (IsAdmin)
                                {
                                    <!--Html.ActionLink("Редактировать", "SOEdit", "Business", new { id = item.Id })-->
                                    <a class="btn btn-outline-light btn-sm edit" title="Редактировать" asp-action="SOEdit" asp-route-id="@item.Id">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>

                                    <a class="btn btn-outline-danger btn-sm edit" title="Удалить" data-bs-toggle="modal" data-bs-target="#myModalDel" onclick="SetWindow(@item.Id, '@item.ObjectTitle')">
                                        <i class="fas fa-trash-alt px-1"></i>
                                    </a>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div id="down_lr" class="d-flex justify-content-between"></div>
</div> <!-- end col -->

</div>

<!-- sample modal [ myModalDel ] content -->
@Html.Partial("popup_SODel")
<!-- /.modal -->


@section Scripts {
    <!-- Required datatable js -->
    <!--<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>-->
    <!-- Datatable init js -->
    <!--<script src="~/assets/js/pages/datatables.init.js"></script>-->
    @Html.Partial("_DTable_Scripts")

    <script>
        $(document).ready(function () {
            var table = $('#dtable').DataTable({
                language: {
                    emptyTable: "Нет данных для отображения в таблице",
                    zeroRecords: "Записи не найдены",
                    lengthMenu: "Показывать _MENU_ записей",
                    search: "Поиск: ",
                    info: "Показаны записи с _START_ по _END_. Всего записей _TOTAL_",
                    infoEmpty: "Нет записей",
                    infoFiltered: "(отфильтровано из _MAX_ записей)",
                    //подписи кнопок навигации по страницам
                    paginate: {
                        previous: "<i class='mdi mdi-chevron-left'>",
                        next: "<i class='mdi mdi-chevron-right'>"
                    },
                    //подписи в окне выбора фильтра
                    searchPanes: {
                        title: {
                            _: 'Выбрано фильтров: %d шт.',
                            0: 'Фильтры не выбраны'
                        },
                        collapseMessage: 'Свернуть панели',
                        showMessage: 'Развернуть панели',
                        clearMessage: 'Сбросить фильтры',
                        collapse: { 0: '<i class="mdi mdi-filter-off"></i> Фильтр', _: '<i class="mdi mdi-filter"></i> Фильтр (%d)' },
                        emptyPanes: "Нет панелей для отображения. :/",
                        emptyMessage: "(пусто)"
                    }
                },
                drawCallback: function () {
                    $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
                },

                dom: 'Blfrtip',
                //вкл/откл разбиения на страницы
                paging: true,
                //вкл/откл поля поиска
                searching: true,
                //вкл/откл строки информации внизу таблицы
                info: true,
                //вкл/откл сортировки столбцов
                ordering: true,
                //сохранения состояния таблицы при возврате на нее
                stateSave: true,

                retrieve: true,

                /*"order": [[0, 'desc']],*/

                // выбор элементов на странице
                "lengthMenu": [10, 25, 50, 100],

                columnDefs: [
                    { "orderable": false, targets: -1 }, //отключение сортировки последнего столбца
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [0,1,2]
                    }
                ],

                buttons: {
                    dom: {
                        button: {
                            tag: 'button',
                            className: ''
                        }
                    },
                    buttons: [{
                        extend: 'excel',
                        className: 'btn btn-sm btn-secondary',
                        titleAttr: 'Excel export.',
                        text: '<i class="far fa-file-excel"></i> Excel',
                        filename: 'excel-export',
                        extension: '.xlsx'
                    }, {
                        extend: 'copy',
                        className: 'btn btn-sm btn-secondary',
                        titleAttr: 'Copy table data.',
                        text: '<i class="far fa-copy"></i> Копировать'
                    }]

                }
            });

            //Отдельная группа кнопок
            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    { //Кнопка "Фильтр"
                        extend: 'searchPanes',
                        text: '<i class="mdi mdi-filter-off"></i> Фильтр',
                        className: "buttons-html5 btn btn-sm btn-outline-secondary",
                        titleAttr: 'Фильтр',
                        config: {
                            cascadePanes: true, // true or false!
                            columns: [0,1,2],
                            //clear: false
                        },
                        init: function (api, node, config) {
                            $(node).removeClass('btn-default').removeClass('dt-button')
                        }
                    },
                ]
            });

            // Перемещаем элементы таблицы в div
            //  верх таблицы
            $('#upp').append($('#dtable_length')); // кол-во строк на странице (length)
            $('#upp').append($('#dtable_filter')); // фильтр (filter)

            table.buttons(1, null).container().appendTo($('#upp'));
            // Перемещаем кнопки в div
            table.buttons(0, null).container().appendTo($('#upp'));

            //  низ таблицы
            $('#down_lr').append($('#dtable_info')); // инфо (info)
            $('#down_lr').append($('#dtable_paginate')); // страницы (paginate)

            // Стили элемента length
            $('#dtable_length>label').css("font-weight", "normal").css("white-space", "nowrap");
            $('#dtable_length>label>select').css("display", "inline-block").css("width", "auto");
            // Стили элемента filter
            $('#dtable_filter>label').css("font-weight", "normal").css("white-space", "nowrap");
            $('#dtable_filter>label>input').css("display", "inline-block").css("width", "auto");

            // Кнопка к элементу filter
            //table.buttons(1, null).container().css('float', 'right').addClass('px-2'); // right
            //$('#dtable_filter>').append(table.buttons(1, null).container());

            // еще пример для div
            //$('#fpopup').append(table.buttons(1, null).container().find('div'));

            // Пример стиля
            //$('#dtable_filter>input').addClass('d-inline-flex');

        });

    </script>

}
