@model RepTableArrays
@using System.Collections;

@{
    ViewData["Title"] = "report1";

    int IndexTable = 0;

    void CreateTable(RepTableArrays RTA)
    {
        IndexTable++;
        <!-- Table -->
        <table id="dtable @IndexTable" class="table table-striped mb-0 table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            @if (String.IsNullOrWhiteSpace(RTA.Title))
            {
            <thead class="bg-primary text-white">
                <tr>
                    @for (var i = 0; i < RTA.ColsName.Length; i++)
                    {
                        <th>@RTA.ColsName[i] [@RTA.ColsType[i]]</th>
                    }
                </tr>
            </thead>
            } else
            {
                <caption style="caption-side:top">@RTA.Title</caption>
            }
            <tbody>
                @foreach (var item in RTA.Rows)
                {
                    <tr>
                        @for (var i = 0; i < item.Values.Length; i++)
                        {
                            dynamic Value = item.Values[i];
                            switch (RTA.ColsType[i])
                            {
                                case RepColType.Table:
                                    if (Value.GetType() == typeof(RepTableArrays))
                                    {
                                        // Рекурсивный вызов функции...
                                        RepTableArrays there = Value;
                                        <td>@{CreateTable(there);}</td>
                                    } else
                                    {
                                        <td>@Value</td>
                                    }
                                    break;

                                case RepColType.User: // Пользователь
                                    if (Value.GetType() == typeof(UserCell))
                                    {
                                        UserCell there = Value;
                                        <td>
                                            @Html.Partial("_cellUser", new UserCell { Id = there.Id, UserName = there.UserName, Email = there.Email })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@Value</td>
                                    }
                                    break;

                                case RepColType.ServiceObject: // Объект обслуживания
                                    if (Value.GetType() == typeof(ServiceObjectCell))
                                    {
                                        ServiceObjectCell there = Value;
                                        <td>
                                            @Html.Partial("_cellSObject", new ServiceObjectCell { Id = there.Id, ObjectTitle = there.ObjectTitle, ObjectCode = there.ObjectCode })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@Value</td>
                                    }
                                    break;

                                case RepColType.Email: // Почта
                                    <td>mailto: @Value</td>
                                    break;

                                case RepColType.FilesV: // Список файлов
                                    if (Value is IEnumerable)
                                    {
                                        List<myFiles> there = Value;
                                        <td>@Html.Partial("_FilesV", there)</td>
                                    }
                                    break;

                                default: // Текст
                                    <td>@Value</td>
                                    break;
                            }

                        }
                    </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    }

}


<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        @{ 
            CreateTable(Model);
        }
    </div>
</div>

