@model FactPortal.Models.ServiceObjectInfo
@using System.Text.RegularExpressions;
@using QRCoder;

@{
    ViewData["Title"] = Model.ObjectTitle;
    bool IsAdmin = ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SuperAdmin");
    bool StepsAvailable = Model.Steps != null && Model.Steps.Count() > 0;

    byte[] QRCode(string Text)
    {
        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode(Text, QRCodeGenerator.ECCLevel.Q);
        BitmapByteQRCode qrCode2 = new BitmapByteQRCode(qrCodeData);
        byte[] qrCodeAsBitmapByteArr = qrCode2.GetGraphic(20);
        return qrCodeAsBitmapByteArr;
    }
}

<style>
    .block:target {
        display: block;
    }

    .block {
        display: none;
    }
</style>

<!-- Уведомления -->
@if (Model.Alerts != null && Model.Alerts.Count() > 0)
{
    @Html.Partial("tbl_Alerts_Short", Model.Alerts)
}
else
{
    @if (IsAdmin)
    {
        <div class="mb-2">
            <a class="btn btn-danger btn btn-sm btn-block" title="Добавить" asp-action="AlertEdit" asp-route-Id="0" asp-route-ServiceObjectId="@Model.Id" asp-route-pageInfo="true"><i class="fas fa-plus"></i> Добавить новое уведомление</a>
        </div>
    }
}
<!-- Позиция, Описание, QR-код и файлы -->
<div class="card">
    <div class="card-body">
        <div class="row d-flex justify-content-between">
            <!-- Позиция, описание и Файлы -->
            <div class="col-12 col-sm-8 pb-2 pb-sm-0">
                <div class="pb-2">
                    <small>Позиция:</small>
                    <br />
                    @if (!String.IsNullOrEmpty(Model.Position))
                    {
                        @foreach (var pos in Model.Position.Split("/"))
                        {
                            if (pos == Model.Position.Split("/").Last())
                            {
                                <span class="badge bg-primary">@pos</span>
                            }
                            else
                            {
                                <span class="badge bg-light">@pos</span>
                            }
                        }
                    }
                    else
                    {
                        <div class="text-danger">Не задана</div>
                    }
                </div>
                <div class="pb-2">
                    <small>Описание:</small>
                    <br />
                    @if (!String.IsNullOrEmpty(Model.Description))
                    {
                        <h5 class="mb-sm-0">@Model.Description</h5>
                    }
                    else
                    {
                        <div class="text-danger">Нет описания</div>
                    }
                </div>
                @if (Model.FileLinks != null && Model.FileLinks.Count() > 0)
                {
                    <hr />
                    <div class="pb-2">
                        <small class="mb-2">Файлы:</small>
                        <br />
                        <div class="d-flex flex-wrap">
                            @Html.Partial("_FilesH", @Model.FileLinks)
                            <!--{ViewFiles(Model.FileLinks); }-->
                        </div>
                    </div>
                }
            </div>
            <!-- QR код -->
            @if (!String.IsNullOrEmpty(@Model.ObjectCode))
            {
                <div class="col card border border-primary">
                    <div class="d-flex justify-content-center">
                        <small>Код объекта:</small>
                        <h5 class="px-3 mb-sm-0 text-primary"> @Model.ObjectCode</h5>
                    </div>
                    <div id="QR" class="d-flex justify-content-center">
                        <img class="card-img-top img-fluid" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String((byte[])QRCode(@Model.ObjectCode)))" style=" min-width:150px; min-height:150px; text-align: center;" />
                    </div>
                    <div class="d-flex justify-content-center pb-2">
                        <a href="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String((byte[])QRCode(@Model.ObjectCode)))" class="btn btn-outline-secondary btn-sm mx-3 edit" download="@Model.ObjectCode"> Скачать </a>
                        <a href="javascript:PrintElem('QR','@Model.ObjectCode')" class="btn btn-outline-secondary btn-sm mx-3 edit"> Печать </a>
                    </div>
                </div>
            }
            else
            {
                <div class="col container h-100">
                    <h6 class="row justify-content-center align-self-center text-danger">
                        Код объекта не задан!
                    </h6>
                </div>
            }
        </div>

    </div>
    <!-- редактировать -->
    @if (IsAdmin)
    {
        <a asp-action="SOEdit" asp-route-id="@Model.Id" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block">Редактировать</a>
    }
</div>

<!-- Шаги и обслуживание -->
<div id="accordion">

    <!-- Обслуживание -->
    @if (Model.Works != null && Model.Works.Count() > 0)
    {
        @Html.Partial("tbl_Works_Short", Model.Works)
        
        <!-- Обслуживание по шагам -->
        @*@if (Model.Works != null && Model.Works.Last().Steps.Count() > 0)
            {
                @Html.Partial("tbl_WorkSteps_Short", Model.Works.Last().Steps)
            }*@

    }
    else
    {
        @if (IsAdmin && StepsAvailable)
        {
            <div class="mb-2">
                <a class="btn btn-primary btn btn-sm btn-block" title="Добавить" asp-action="WorkEdit" asp-route-Id="0" asp-route-ServiceObjectId="@Model.Id" asp-route-pageInfo="true"><i class="fas fa-plus"></i> Добавить новое обслуживание</a>
            </div>
        }
    }



    <!-- Шаги -->
    @if (StepsAvailable)
    {
        @Html.Partial("tbl_Steps_Short", Model.Steps)
    }
    else
    {
        @if (IsAdmin)
        {
            <div class="mb-2">
                <a class="btn btn-secondary btn btn-sm btn-block" title="Добавить" asp-action="StepEdit" asp-route-Id="0" asp-route-ServiceObjectId="@Model.Id" asp-route-pageInfo="true"><i class="fas fa-plus"></i> Добавить новый шаг</a>
            </div>
        }
    }
</div>

@section Scripts {

    <script type="text/javascript">
        function PrintElem(elem, title)
        {
            var mywindow = window.open('', 'PRINT', 'height=1000,width=800');

            mywindow.document.write('<html><head><title>' + document.title  + '</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h1>' + document.title + '</h1>');
            mywindow.document.write('<h2>' + title  + '</h2>');
            mywindow.document.write(document.getElementById(elem).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }
    </script>
}
