@model StepInfo
@using System.Text.RegularExpressions;
@{
    //int FilterSO = Convert.ToInt32(ViewData["ServiceObjectId"]); // выборка по обслуживанию
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Шаг {Model.Index} [ID {Model.Id}]";
    }
    else
    {
        ViewData["Title"] = $"Объект ID {Model.ServiceObjectId} {Model.ServiceObjectTitle}: Новый шаг";
    }

    //List<myFiles> MF = ViewBag.Files;
}


<div class="row">
    <div class="col-12">
        <!-- data -->
        <div class="card">
            <div class="card-body">

                <div class="row g-0 d-flex justify-content-start">
                    <div class="col-10 col-md-3 pb-2">
                        <small>Объект: </small>
                        <br />
                        @Html.Partial("_cellSObject", new ServiceObject { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                    </div>
                    @*<div class="col-10 col-md-3 pb-2">
                        <small>Шаг: </small>
                        <br />
                        @Model.Index
                    </div>*@
                </div>
                
                
                <!---->
            </div>
        </div>

        <!-- edit -->
        <div class="card">
            <form id="myform" method="post" enctype="multipart/form-data">
                <h5 class="card-header bg-soft-light">Редактирование</h5>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="number" name="Id" class="form-control d-none" value="@Model.Id" readonly />
                    @*<input type="number" name="Index" class="form-control d-none" value="@Model.Index" readonly />*@
                    <input type="number" name="SOReturn" class="form-control d-none" value="@ViewData["ServiceObjectId"]" readonly />
                    <input type="number" name="ServiceObjectId" class="form-control d-none" value="@Model.ServiceObjectId" readonly />
                    <input type="number" name="pageInfo" class="form-control d-none" value="@ViewData["pageInfo"]" readonly />

                    <div class="d-flex justify-content-between">
                        <div class="col-4">
                            <small>Шаг</small>
                            <input name="Index" value="@Model.Index" asp-for="@Model.Index" class="form-control" required="" placeholder="Введите номер шага" />
                            @*<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                            <input id="Index" type="text" value="@Model.Index" name="Index" class="form-control">
                            </div>*@
                        </div>
                        <div class="col-6">
                            <small>Название:</small>
                            <input type="text" name="Title" value="@Model.Title" class="form-control" required="" placeholder="Введите название" />
                        </div>
                    </div>
                    <div class="col-12 pt-2">
                        <small>Описание мероприятий:</small>
                        <br />
                        <textarea form="myform" name="Description" rows="5" class="form-control">@Model.Description</textarea>
                    </div>
                    <hr />
                    <!--Файлы-->
                    <small>Файлы:</small>
                    @Html.Partial("_FilesControl2", new FileFront { category = "step", categoryId = @Model.Id })
                    <!--------->

                    </div>
                    <div class="card-footer">
                        <div class="row g-0 d-flex justify-content-start">
                            @if (Model.Id != 0 && Model.EnableDel)
                            {
                                <!-- удалить -->
                                <button type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-danger btn btn-block" data-bs-toggle="modal" data-bs-target="#myModalDel" onclick="SetWindow(@Model.Id, '@Model.ServiceObjectTitle', @Model.Index)"><i class="fas fa-trash-alt px-1"></i> Удалить</button>
                            }
                            <!-- сохранить -->
                            <button type="submit" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block"><i class="fas fa-save px-1"></i> Сохранить</button>
                            <!-- отмена -->
                            @if (Convert.ToBoolean(ViewData["pageInfo"]))
                            {
                                @if (!Convert.ToBoolean(ViewData["editSO"]))
                                {
                                    <a asp-action="SOInfo" asp-route-id="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block"> Отмена <small>(в объект)</small></a>
                                }
                                else
                                {
                                    <a asp-action="SOedit" asp-route-id="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block"> Вернуться в объект</a>
                                }

                            }
                            else
                            {
                                <a asp-action="StepsList" asp-route-ServiceObjectId="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block"> Отмена <small>(в список)</small></a>
                            }
                        </div>
                    </div>
            </form>
        </div>

    </div>
</div>

<!-- sample modal [ myModalDel ] content -->
@Html.Partial("popup_StepDel")
<!-- /.modal -->


<div class="mb-3 d-none">
    <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
        <input id="demo3_21" type="text" value="10" name="demo3_21" class="form-control">
    </div>
</div>

@section Scripts {
    <!-- files -->
    <script src="~/assets/dm/fileControl2.js"></script>

    <!-- plugins -->
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
    <script src="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <!-- init js -->
    <script src="~/assets/js/pages/form-advanced.init.js"></script>

    <script type="text/javascript">

    </script>
}

