@model StepInfo
@using System.Text.RegularExpressions;
@{
    //int FilterSO = Convert.ToInt32(ViewData["ServiceObjectId"]); // выборка по обслуживанию
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Шаг {Model.Index} [ID {Model.Id}]";
    }
    else
    {
        ViewData["Title"] = $"Объект ID {Model.ServiceObjectId} {Model.ServiceObjectTitle}: Новый шаг";
    }

    //List<myFiles> MF = ViewBag.Files;

}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row g-0 d-flex justify-content-start">
                    <div class="col-10 col-md-3 pb-2">
                        <small>Объект: </small>
                        <br />
                        @Html.Partial("_cellSObject", new ServiceObject { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                    </div>
                    <div class="col-10 col-md-3 pb-2">
                        <small>Шаг: </small>
                        <br />
                        @Model.Index
                    </div>
                </div>
                @if (Model.Id > 0)
                {
                    <div class="col-12">
                        <small>Мероприятия: </small>
                        <br />
                        @if (@Model.Description == "")
                        {
                            <span> - </span>
                        }
                        else
                        {
                            @Model.Description
                        }
                    </div>
                }
                <hr />

                <!--Файлы-->

                <div class="col-12 pt-2">
                    @if (Model.FileLinks.Count > 0)
                    {
                        <small class="mb-2">Файлы:</small>
                        <br />
                        <div class="d-flex flex-wrap">
                            @Html.Partial("_FilesH", @Model.FileLinks)
                        </div>
                    }
                </div>

            </div>
            <!---->
        </div>
        <div class="card-footer">
            <div class="row g-0 d-flex justify-content-start">
                @if (Model.Id != 0)
                {
                    <!-- удалить -->
                    <button type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-danger btn btn-block" data-bs-toggle="modal" data-bs-target="#myModalDel"><i class="fas fa-trash-alt px-1"></i> Удалить</button>
                }
                <!-- сохранить -->
                <button type="submit" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block"><i class="fas fa-save px-1"></i> Сохранить</button>
                <!-- закрыть -->
                <a asp-action="StepsList" asp-route-ServiceObjectId="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block">Закрыть</a>
            </div>
        </div>
    </div>
</div>
</div>




<!-- sample modal content -->
<div id="myModalDel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="" asp-controller="Business" asp-action="StepDelete" method="post">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="myModalLabel">Удалить шаг ID @Model.Id</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" name="id" value="@Model.Id" style="display: none" readonly />
                    <input type="number" name="ServiceObjectId" class="form-control d-none" value="@ViewData["ServiceObjectId"]" readonly />
                    <p>После этого действия вы не сможете востановить шаг</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Удалить</button>
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="mb-3 d-none">
    <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
        <input id="demo3_21" type="text" value="10" name="demo3_21" class="form-control">
    </div>
</div>

@section Scripts {
    <!-- plugins -->
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
    <script src="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

    <!-- init js -->
    <script src="~/assets/js/pages/form-advanced.init.js"></script>

    <script type="text/javascript">
    </script>
}

