@model List<WorkStepInfo>

@{
    int FilterSO = Convert.ToInt32(ViewData["SOReturn"]); // выборка по объекту
    int FilterWrk = Convert.ToInt32(ViewData["WorkReturn"]); // выборка по обслуживанию
    bool IsAdmin = ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SuperAdmin");
    if (FilterWrk > 0)
    {
        ViewData["Title"] = $"Выполненные шаги по обслуживанию ID {FilterWrk}";
    }
    else
    {
        ViewData["Title"] = "Выполненные шаги";
    }
}

@section CSS_first {
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<!-- получение локального времени -->
<script src="~/assets/dm/localtime.js"></script>


<div class="card">
    <div class="card-body">
        <table id="datatable" class="table table-striped mb-0 table-bordered" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
            <thead class="bg-primary text-white">
                <tr>
                    @if (FilterWrk == 0)
                    {
                        <th>ID</th>
                        <th>Обслуживание</th>
                    }
                    <th>Шаг</th>
                    <th>Начало</th>
                    <th>Окончание</th>
                    <th>Статус</th>
                    <th>Сотрудник</th>
                    <th>Файлы</th>
                    <th>Подробнее</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x => x.Index))
                {
                    <tr>
                        @if (FilterWrk == 0)
                        {
                            <th scope="row">@item.Id</th>
                            <td>
                                @Html.Partial("_cellWork", new WorkInfo { Id = item.WorkId, ServiceObjectId = item.ServiceObjectId, ServiceObjectTitle = item.ServiceObjectTitle })
                            </td>
                        }
                        <td>@item.Index</td>
                        <td><script>document.write(UTC_To_LocalTime('@item.DT_Start'));</script></td>
                        <td><script>document.write(UTC_To_LocalTime('@item.DT_Stop'));</script></td>
                        <td>@item.StatusRus()</td>
                        <td>
                            @Html.Partial("_cellUser", new ApplicationUser { Id = "0", UserName = item.UserName, Email = item.UserEmail })
                        </td>
                        <td>@Html.Partial("_FilesV", item.FileLinks)</td>
                        <td>
                            <div class="row px-1">
                                <a class="col btn btn-outline-secondary btn-sm edit" title="Просмотр" asp-action="WorkStepInfo" asp-route-Id="@item.Id" asp-route-WorkId="@item.WorkId" asp-route-ServiceObjectId="@item.ServiceObjectId">
                                    <i class="far fa-eye"></i>
                                </a>
                                @if (IsAdmin)
                                {
                                    <a class="col btn btn-outline-secondary btn-sm edit" title="Редактировать" asp-action="WorkStepEdit" asp-route-Id="@item.Id" asp-route-WorkId="@item.WorkId" asp-route-ServiceObjectId="@item.ServiceObjectId">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>

                                    @*<a class="col btn btn-outline-danger btn-sm edit" title="Удалить" data-bs-toggle="modal" data-bs-target="#myModalDel" onclick="SetWindow(@item.Id, @item.WorkId, '@item.ServiceObjectTitle', @item.Index)">
                                        <i class="fas fa-trash-alt px-1"></i>
                                    </a>*@
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Добавить -->
    @if (IsAdmin && FilterWrk > 0 ) // && ViewBag.EnableAdd
    {
        @*<div class="card-footer">
            <a class="btn btn-primary btn btn-block" title="Добавить" asp-action="WorkStepEdit" asp-route-Id="0" asp-route-WorkId="@FilterWrk" asp-route-ServiceObjectId="@FilterSO"><i class="fas fa-plus"></i> Добавить новый выполненный шаг</a>
        </div>*@
    }
</div>

<!-- sample modal [ myModalDel ] content -->
@Html.Partial("popup_WorkStepDel")
<!-- /.modal -->


@section Scripts {
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>
}

