@model WorkInfo
@using System.Text.RegularExpressions;
@{
    //int FilterSO = Convert.ToInt32(ViewData["ServiceObjectId"]); // выборка по обслуживанию
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Обслуживание ID {Model.Id}";
    }
    else
    {
        ViewData["Title"] = $"Объект ID {Model.ServiceObjectId} {Model.ServiceObjectTitle}: Новое обслуживание";
    }

}


<div class="row">
    <div class="col-12">
        <div class="card">
            <form id="myform" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="number" name="Id" class="form-control d-none" value="@Model.Id" readonly />
                    <input type="number" name="SOReturn" class="form-control d-none" value="@ViewData["ServiceObjectId"]" readonly />
                    <input type="number" name="ServiceObjectId" class="form-control d-none" value="@Model.ServiceObjectId" readonly />
                    <div class="row g-0 d-flex justify-content-start">

                        <div class="col-10 col-md-3 pb-2">
                            <small>Объект: </small>
                            <br />
                            @Html.Partial("_cellSObject", new ServiceObject { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                        </div>
                        <div class="col-10 col-md-3 pb-2">
                            <small>Статус: </small>
                            <br />
                            @Model.StatusRus()
                        </div>

                    </div>

                    <hr />

                    <!---->
                </div>
                <div class="card-footer">
                    <div class="row g-0 d-flex justify-content-start">
                        @if (Model.Id != 0)
                        {
                            <!-- удалить -->
                            <button type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-danger btn btn-block" data-bs-toggle="modal" data-bs-target="#myModalDel" onclick="SetWindow(@Model.Id, '@Model.ServiceObjectTitle')"><i class="fas fa-trash-alt px-1"></i> Удалить</button>
                        }
                        <!-- сохранить -->
                        <button type="submit" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block"><i class="fas fa-save px-1"></i> Сохранить</button>
                        <!-- закрыть -->
                        <a asp-action="WorksList" asp-route-ServiceObjectId="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block"> Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- sample modal [ myModalDel ] content -->
@Html.Partial("popup_WorkDel")
<!-- /.modal -->

@section Scripts {

    <script type="text/javascript">

    </script>
}


