@model WorkInfo
@using System.Text.RegularExpressions;
@{
    bool IsAdmin = ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("SuperAdmin");
    //int FilterSO = Convert.ToInt32(ViewData["ServiceObjectId"]); // выборка по обслуживанию
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Обслуживание ID {Model.Id}";
    }
    else
    {
        ViewData["Title"] = $"Объект ID {Model.ServiceObjectId} {Model.ServiceObjectTitle}: Новое обслуживание";
    }

}

<!-- получение локального времени -->
<script src="~/assets/dm/localtime.js"></script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row g-0 d-flex justify-content-start">

                    <div class="col-6 col-md-3 pb-2">
                        <small>Объект: </small>
                        <br />
                        @Html.Partial("_cellSObject", new ServiceObjectCell { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                    </div>
                    <div class="col-6 col-md-3 pb-2">
                        <small>Статус: </small>
                        <br />
                        @Model.StatusRus()
                    </div>
                    <hr />
                    <div class="col-6 col-md-3 pb-2">
                        <small>Дата и время начала: </small>
                        <br />
                        <script>document.write(UTC_To_LocalTime('@Model.DT_Start'));</script>
                    </div>
                    <div class="col-6 col-md-3 pb-2">
                        <small>Дата и время выполнения: </small>
                        <br />
                        @{
                            var DT_Stop = (Model.Status == 9) ? Model.DT_Stop : "";
                        }
                        <script>document.write(UTC_To_LocalTime('@DT_Stop'));</script>
                    </div>
                </div>

                <!-- Обслуживание по шагам -->
                @if (Model.Steps != null && Model.Steps.Count() > 0)
                {
                    <hr />
                    @*@Html.Partial("tbl_WorkSteps_Short", Model.Steps)*@
                    <a class="d-none" title="Выполненные шаги" asp-action="WorkStepsList" asp-route-WorkId="@Model.Id" asp-route-ServiceObjectId="@Model.ServiceObjectId">
                        Выполненные шаги последнего обслуживания
                    </a>
                    foreach (var item in Model.Steps.OrderBy(x => x.Index))
                    {
                        @Html.Partial("tbl_WorkSteps_InfoCompact", item)
                        <p></p>
                    }
                }
                <!---->
            </div>
            <div class="card-footer">
                <div class="row g-0 d-flex justify-content-start">
                    <!-- Добавить -->
                    @if (IsAdmin && (Model.Steps == null || Model.Steps.Count() < Model.FinalStep))
                    {
                        <a class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block" title="Добавить" asp-action="WorkStepEdit" asp-route-Id="0" asp-route-WorkId="@Model.Id" asp-route-ServiceObjectId="@Model.ServiceObjectId" asp-route-pageInfo="@ViewData["pageInfo"]"><i class="fas fa-plus"></i> Добавить новый выполненный шаг</a>
                    }
                    <!-- закрыть -->
                    @if (Convert.ToBoolean(ViewData["pageInfo"]))
                    {
                        <a asp-action="SOInfo" asp-route-id="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block">Закрыть <small>(в объект)</small></a>
                    }
                    else
                    {
                        <a asp-action="WorksList" asp-route-ServiceObjectId="@ViewData["ServiceObjectId"]" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block">Закрыть <small>(в список)</small></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
    </script>
}




