@model WorkStepInfo
@using System.Text.RegularExpressions;
@{
    int FilterSO = Convert.ToInt32(ViewData["SOReturn"]); // выборка по объекту
    int FilterWrk = Convert.ToInt32(ViewData["WorkReturn"]); // выборка по обслуживанию
    if (Model.Id > 0)
    {
        ViewData["Title"] = $"Выполненный шаг {Model.Index} (ID {Model.Id}) по обслуживанию ID {Model.WorkId}";
    }
    else
    {
        ViewData["Title"] = $"Обслуживание № {Model.WorkId}: Новый выполненный шаг";
    }

    //List<myFiles> MF = ViewBag.Files;

    List<SelectListItem> listStatus = new List<SelectListItem>();
    listStatus.Add(new SelectListItem { Value = "0", Text = "ожидание" });
    listStatus.Add(new SelectListItem { Value = "1", Text = "пауза" });
    listStatus.Add(new SelectListItem { Value = "2", Text = "редактирование" });
    listStatus.Add(new SelectListItem { Value = "3", Text = "пропущен" });
    listStatus.Add(new SelectListItem { Value = "5", Text = "работа" });
    listStatus.Add(new SelectListItem { Value = "8", Text = "частично" });
    listStatus.Add(new SelectListItem { Value = "9", Text = "выполнено" });
    var X = listStatus.FirstOrDefault(x => x.Value == Model.Status.ToString());
    if (X != null)
        X.Selected = true;

    // Шаги
    //List<SelectListItem> listIndex = new List<SelectListItem>();
    //if (ViewBag.Indexes != null)
    //{
    //    List<int> ST = ViewBag.Indexes;
    //    foreach (var item in ST.OrderBy(x => x))
    //    {
    //        listIndex.Add(new SelectListItem { Value = item.ToString(), Text = item.ToString() });
    //    }
    //    var Y = listIndex.FirstOrDefault(x => x.Value == Model.Index.ToString());
    //    if (Y != null)
    //        Y.Selected = true;
    //}

}

<!-- получение локального времени -->
<script src="~/assets/dm/localtime.js"></script>


<div class="row">
    <div class="col-12">
        <!-- data -->
        <div class="card">
            <div class="card-body">

                <div class="row g-0 d-flex justify-content-start">
                    <div class="col-3 col-md-3 pb-2">
                        <small>Объект: </small>
                        <br />
                        @Html.Partial("_cellSObject", new ServiceObject { Id = Model.ServiceObjectId, ObjectTitle = Model.ServiceObjectTitle, ObjectCode = null })
                    </div>
                    <div class="col-3 pb-2">
                        <small>Обслуживание: </small>
                        <br />
                        @Html.Partial("_cellWork", new WorkInfo { Id = Model.WorkId, ServiceObjectId = Model.ServiceObjectId, ServiceObjectTitle = Model.ServiceObjectTitle })
                    </div>
                    <hr />
                    <div class="col-6 col-md-3 pb-2">
                        <small>Шаг: </small>
                        <br />
                        @Model.Index
                    </div>
                    <div class="col-6 col-md-3 pb-2">
                        <small>Сотрудник: </small>
                        <br />
                        @Html.Partial("_cellUser", new ApplicationUser { Id = "0", UserName = Model.UserName, Email = Model.UserEmail })
                    </div>
                    <hr />
                    <div class="col-3 pb-2">
                        <small>Дата и время начала: </small>
                        <br />
                        <script>document.write(UTC_To_LocalTime('@Model.DT_Start'));</script>
                    </div>
                    <div class="col-3 pb-2">
                        <small>Дата и время окончания: </small>
                        <br />
                        <script>document.write(UTC_To_LocalTime('@Model.DT_Stop'));</script>
                    </div>

                </div>
                <!---->
            </div>
        </div>

        <!-- edit -->
        <div class="card">
            <form id="myform" method="post" enctype="multipart/form-data">
                <h5 class="card-header bg-soft-light">Редактирование</h5>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="number" name="Id" class="form-control d-none" value="@Model.Id" readonly />
                    <input type="number" name="Index" class="form-control d-none" value="@Model.Index" readonly />
                    <input type="number" name="WorkReturn" class="form-control d-none" value="@FilterWrk" readonly />
                    <input type="number" name="SOReturn" class="form-control d-none" value="@FilterSO" readonly />
                    <input type="number" name="WorkId" class="form-control d-none" value="@Model.WorkId" readonly />

                    @*<div class="col-12 pt-2">
            @if (ViewBag.Indexes != null)
            {
                <small>Новый установленный шаг:</small>
                <select class="form-select" name="Index" value="0" asp-items="listIndex"></select>
            }
            else
            {
                <span class="badge bg-danger">Шаги обслуживания не назначены</span>
                <input name="Index" class="form-control d-none" asp-for="@Model.Index" required="" />
            }
        </div>*@
                <div class="col-12">
                    <small>Название:</small>
                    <input type="text" name="Title" value="@Model.Title" class="form-control" required="" placeholder="Введите название" />
                </div>
                    <div class="col-12 pt-2">
                        <small>Статус:</small>
                        <select class="form-select" name="Status" value="0" asp-items="listStatus"></select>
                    </div>

                    <!--Файлы-->
                    <hr />
                    <small>Файлы:</small>
                    @Html.Partial("_FilesControl2", new FileFront { category = "work", categoryId = @Model.Id })
                    <!--------->

                </div>
                <div class="card-footer">
                    <div class="row g-0 d-flex justify-content-start">
                        @if (Model.Id != 0)
                        {
                            <!-- удалить -->
                            @*<button type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-danger btn btn-block" data-bs-toggle="modal" data-bs-target="#myModalDel" onclick="SetWindow(@Model.Id, @Model.WorkId, '@Model.ServiceObjectTitle', @Model.Index)"><i class="fas fa-trash-alt px-1"></i> Удалить</button>*@
                        }
                        <!-- сохранить -->
                        <button type="submit" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-primary btn btn-block"><i class="fas fa-save px-1"></i> Сохранить</button>
                        <!-- отмена -->
                        <a asp-action="WorkStepsList" asp-route-WorkId="@FilterWrk" asp-route-ServiceObjectId="@FilterSO" type="button" class="col col-sm-4 col-md-3 mx-2 mb-1 btn btn-secondary btn btn-block"> Отмена</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


<!-- sample modal [ myModalDel ] content -->
@Html.Partial("popup_WorkStepDel")
<!-- /.modal -->


@section Scripts {
    <!-- files -->
    <script src="~/assets/dm/fileControl2.js"></script>

    <script type="text/javascript">

    </script>
}


